body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
}

header {
  padding: 1rem;
  text-align: center;
}

header span {
    font-weight: 1000;
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 20px;
    
}


nav {
  display: flex;
  justify-content: center;    
  gap: 1rem;                  
  flex-wrap: wrap;
  padding: 10px;  
  background-color: var(--border-color); 
  border-radius: 6px;    
}

nav:hover{
    background-color: var(--white-color);
    cursor: pointer;
} 


nav a {
  color: var(--text-color); 
  text-decoration: none
}

nav a:hover {
    background-color: var(--border-color);
    transform: translateY(2px);
    border-radius: 4px;
}

main {
    max-width: 1000px;
    margin: 2rem auto;                  
}


.main-grid {
  display: flex;
  gap: 1rem; 
}


h1{
    font-weight: 400;
    text-align: center;
}

.About-Me{
    flex: 2;
}
  
.About-Me span{
    text-align: center;
    font-weight: 700;
    display: block;
    background-color: var(--border-color);
    border-radius: 6px;
    padding: 1rem;
    

}


.About-Me img {
    width: 150px;
    padding: 2px;
    box-shadow: 0 0 30px var(--border-color);
    float: right;
}

.Web-Resources span{
    text-align: center;
    font-weight: 700;
    display: block;
    background-color: var(--border-color);
    border-radius: 6px;
    padding: 5px;

}

.Web-Resources ul {
  list-style-type: disc;
  text-align:justify;
  justify-content: center;    
  gap: 1rem;                   
  border-radius: 6px;
}

.Web-Resources li {
  margin-bottom: 0.5rem;
  
}


.Web-Resources a {
  text-decoration: underline;
  font-weight: 600; 
}


.PortHarcourt h2{
    text-align: center;
    border-bottom: 2px solid var(--text-color);
    font-weight: 500;
}

.PortHarcourt{
    padding-top: 100px;


}
.city-layout {
  display: flex;                 
  gap: 20px;                     
  align-items: flex-start;       
}

.city-layout figure {
  max-width: 200px;              
}

.city-layout img {
  width: 100%;                   
  border-radius: 6px;            
}

.city-layout p {
  flex: 1;                       
}