:root {
    --body-font: "Roboto", sans-serif;
    --primary-color: orange;
    --text-color: #000000;
    --border-color: #ccc;
    --white-color: #ffffff;
}

header,
footer {
    max-width: 1000px;
    margin: 0 auto;
    
    
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  
    
    
}

header {
  padding: 1rem;
  text-align: center;
}

header span {
    font-weight: 1000;
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 20px;
    
}


nav {
  display: flex;
  justify-content: center;    
  gap: 1rem;                  
  flex-wrap: wrap;
  padding: 10px;  
  background-color: var(--border-color); 
  border-radius: 6px;
  
    
}

nav:hover{
    background-color: var(--white-color);
    cursor: pointer;
    


} 


nav a {
  color: var(--text-color); 
  text-decoration: none
}


nav a:hover {
    background-color: var(--border-color);
    transform: translateY(2px);
    border-radius: 4px;

}




main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    display: grid;                        
    grid-template-columns: 1fr;            
    gap: 1rem; 
                              
}



.main-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;  
    grid-template-rows: auto auto;
    gap: 1rem;
}


.About-Me img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--border-color);
    float: right;
    margin: 0 0 1rem 1rem;
}



.My-Interest {
  display: grid;
  grid-template-columns: 1fr 3fr;  
  grid-template-rows: auto auto;
  gap: 1rem;
}

.My-Interest h2 {
    text-align: center;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    grid-column: 1 / -1;
}


.My-Interest img {
  width: 150px;
  height: auto;
  grid-column: 1;
  grid-row: 2;
}




.My-Interest p {
  grid-column: 2;
  grid-row: 2;
}





h1{
    font-weight: 400;
    text-align: center;
}



footer {
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 6px;
}


