 
#menu-button {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer

}

  
#nav-menu {
    display: flex;
    gap: 1rem;
    
}




@media (max-width: 768px) {

    .gallery{
        grid-template-columns: 1fr;
    }

  
  #menu-button {
    display: block;
  }

 
  #nav-menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;          
    margin-top: 0.5rem;
  }

  
  #nav-menu.open {
    display: flex;
  }


  header {
    align-items: flex-start;
  }
}
