body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 0 auto;
}


h1 {
    text-align: center;
}
main  {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}



@media (max-width: 480px) {
    main {
        padding: 1rem;
    }
 }